@if (creatingConversation) {
  <div class="overlay">
    <div class="box">
      <div class="inputGroup">
        <input
          type="text"
          required=""
          autocomplete="off"
          (input)="LimitInput($event, 20, false, true, false, InputType.Conversation)"
          [(ngModel)]="conversationCreation"
        />
        <label for="name">Conversation Name</label>
      </div>
      <div class="inputGroup">
        <input
          type="text"
          required=""
          autocomplete="off"
          (input)="LimitInput($event, 15, true, false, true, InputType.Participant)"
          [(ngModel)]="participantCreation"
        />
        <label for="name">Participant</label>
      </div>
      <div class="multiselect">
        <div class="title">Choose Icon</div>
        @for (icon of icons; track $index) {
          <div
            class="item"
            [ngClass]="{ selected: currentIcon === icon }"
            (click)="currentIcon = icon"
          >
            {{ icon }}
          </div>
        }
      </div>
      <div class="multiselect">
        <div class="title">Choose Color</div>
        @for (color of colors; track $index) {
          <div
            class="item"
            [ngClass]="{ selected: currentColor === color }"
            (click)="currentColor = color"
            [ngStyle]="{ background: color }"
          ></div>
        }
      </div>
      <button
        (click)="
          CreateConversation(participantCreation, currentColor, currentIcon, conversationCreation)
        "
      >
        Create
      </button>
    </div>
  </div>
}
@if (editingConversation) {
  <div class="overlay">
    <div class="box">
      <div class="inputGroup">
        <input
          type="text"
          required=""
          autocomplete="off"
          (input)="LimitInput($event, 20, false, true, false, InputType.Conversation)"
          [(ngModel)]="conversationCreation"
        />
        <label for="name">Conversation Name</label>
      </div>
      <div class="multiselect">
        <div class="title">Choose Icon</div>
        @for (icon of icons; track $index) {
          <div
            class="item"
            [ngClass]="{ selected: currentIcon === icon }"
            (click)="currentIcon = icon"
          >
            {{ icon }}
          </div>
        }
      </div>
      <div class="multiselect">
        <div class="title">Choose Color</div>
        @for (color of colors; track $index) {
          <div
            class="item"
            [ngClass]="{ selected: currentColor === color }"
            (click)="currentColor = color"
            [ngStyle]="{ background: color }"
          ></div>
        }
      </div>
      <button
        (click)="
          UpdateConversation(focusedConversation, conversationCreation, currentColor, currentIcon)
        "
      >
        Update
      </button>
    </div>
  </div>
}

@if (!signedIn) {
  <div class="overlay">
    <div class="header">Chatroom</div>
    @if (!creatingAccount) {
      <div class="login-box">
        @if (!loading) {
          <p>Login</p>
          <form>
            <div class="user-box">
              <input
                required=""
                [(ngModel)]="usernameCreation"
                (input)="LimitInput($event, 14, true, false, false, InputType.Username)"
                name="username"
                type="text"
              />
              <label>Username</label>
            </div>
            <div class="user-box">
              <input
                required=""
                [(ngModel)]="passwordCreation"
                (input)="LimitInput($event, 20, false, true, false, InputType.Password)"
                name="password"
                type="password"
              />
              <label>Password</label>
            </div>
            <a
              href="#"
              (click)="Login(usernameCreation, passwordCreation); $event.preventDefault()"
            >
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Submit
            </a>
          </form>
          <p>
            Don't have an account?
            <a class="a2" style="cursor: pointer" (click)="creatingAccount = !creatingAccount"
              >Create one!</a
            >
          </p>
        } @else {
          <div class="center">
            <div class="loader">
              <div data-glitch="Loading..." class="loading">Loading...</div>
            </div>
          </div>
        }
      </div>
      <div class="error">{{ errorMessage }}</div>
    } @else {
      <div class="login-box">
        <p>Create Account</p>
        <form>
          <div class="user-box">
            <input
              required
              type="text"
              [(ngModel)]="usernameCreation"
              (input)="LimitInput($event, 14, true, false, false, InputType.Username)"
            />
            <label>Username</label>
          </div>
          <div class="user-box">
            <input
              required=""
              name=""
              type="text"
              [(ngModel)]="displayNameCreation"
              (input)="LimitInput($event, 16, false, true, false, InputType.DisplayName)"
            />
            <label>Display Name</label>
          </div>
          <div class="user-box">
            <input
              required=""
              name=""
              type="password"
              [(ngModel)]="passwordCreation"
              (input)="LimitInput($event, 20, false, true, false, InputType.Password)"
            />
            <label>Password</label>
          </div>

          <a
            href="#"
            (click)="Register(usernameCreation, passwordCreation); $event.preventDefault()"
          >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </a>
        </form>
        <p>
          Have an account?
          <a class="a2" style="cursor: pointer" (click)="creatingAccount = !creatingAccount"
            >Sign in!</a
          >
        </p>
      </div>
      <div class="error">{{ errorMessage }}</div>
    }
  </div>
}
@if (signedIn) {
  <div class="page">
    <div class="topbar">
      <div class="conversationcontainer">
        @for (conversation of conversations; track conversation.id) {
          <div class="conversation" (click)="FocusConversation(conversation.id, conversation.name)">
            <div class="bubble" [ngStyle]="{ background: conversation.color }">
              <div class="icon">
                {{ conversation.icon }}
              </div>
            </div>
            <div class="title">{{ conversation.name }}</div>
          </div>
        }
      </div>
      <div class="buttoncontainer">
        <button
          class="add"
          (click)="creatingConversation = !creatingConversation; editingConversation = false"
        >
          <div class="line line-h"></div>
          <div class="line line-v"></div>
        </button>
        @if (conversationAdmin) {
          <button
            class="settings"
            (click)="
              editingConversation = !editingConversation;
              creatingConversation = false;
              conversationCreation = focusedConversationName
            "
          >
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
          </button>
        }
      </div>
    </div>
    <div class="mainspace">
      @for (message of focusedMessages; track $index) {
        <div class="message" [ngClass]="{ selfsent: message.senderName === currentName }">
          <div class="messagebox">
            <div class="name">{{ message.senderName }}</div>
            <div class="text">{{ message.content }}</div>
          </div>
        </div>
      }
    </div>
    <div class="bottombar">
      <div class="chatInput">
        <input type="text" [(ngModel)]="messageCreation" placeholder="Type a message..." />

        <button (click)="CreateMessage(focusedConversation, messageCreation)">Send</button>
      </div>
      <div class="sidecontainer">
        <div class="side">
          <div class="content">@{{ currentName.toLowerCase() }}</div>
          <button class="logout" (click)="Logout()">
            <span class="shimmer"></span>
            🚪 Log out
          </button>
        </div>
        <div class="side"></div>
      </div>
    </div>
  </div>
}
